body{
  background: white;
  
    
}
::-webkit-scrollbar {

  width: 10px;
}



/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
  border-radius: 5px;
}
::-webkit-scrollbar-track{
  box-shadow: inset 0 0 5px white;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb{
  background: gray;
  border-radius: 5px;
}




.sidebar {
   font-family: 'Times New Roman', Times, serif;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #98BDFF;
    overflow-x: hidden;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 16px;
    border-radius: 25px;
    box-shadow:  0 14px 18px 0 #4B49AC; 
    width: 0; /* 0 width - change this with JavaScript */
    position:fixed; /* Stay in place */
    left: 0;
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
        
  }
  .sidebar  a  {
    padding-top: 8%;
    padding-left: 8%;
    font-size: 20px;
    color: black;
    display:flex
   
  }
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  

  }
  .topbar{
  display:flexbox;
  margin-right: 5%;
    
    

  }
  .openbtn{
    cursor: pointer;
  }
.log{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;

  }
 
img  { 
    padding-left: 8%;
    padding-top: 8%;
    padding-bottom: 8%;
    

  }
  
  

  .sidebar a:hover {
    color: #4B49AC;
  }
 
  h6{
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 8%;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  li {
    float: right;
    
  }
  button{
    border: 0;
    background-color: white;
    text-decoration: none;
  }
  
  li a {
    display: block;
    padding: 18px;
    padding-left: 35px;
    text-decoration: none;
  }

  .dropdown .dropbtn {

    border: none;
    outline: none;
    color:#b9e0ff;
    background-color: inherit;

  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #98BDFF;
    min-width: auto;
    border-radius: 25px;
    box-shadow: 0 14px 18px 0 #4B49AC; 
    z-index: 1;
    
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    width: max-content;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  .dropdown-content a:hover {
    color: #4B49AC;
  }
  .dropdown:hover .dropdown-content{
    display: block;
  }
  .product-content{
    margin: auto;
    width: 50%;
    border-radius: 30px;
    background-color: #98BDFF;
    box-shadow: 0 14px 18px 0 #4B49AC; 
    padding: 5%;
  }



  .search-bar,
  .search-button,
  .search-button::before,
  .search-button::after{
    transition: all 0.25s ease-out;
  }
  .search-bar input,
  .search-button{
    width: 3em ;
    height: 3em ;


  }
  .search-bar input:invalid:not(:focus),
  .search-button{
      cursor: pointer;
  }
  .search-bar,
  .search-bar input:focus,
  .search-bar input:valid{
    width: 100%;

  }
  .search-bar input:focus,
  .search-bar input:not(:focus)+.search-button:focus{
    outline: transparent;
  }
  .search-bar{
    display: flex;
    float: left;
    padding: 1.5em;
    max-width: 38em;
  }
  .search-bar input{
    background: transparent;
    border-radius: 1.5em;
    box-shadow: 0 0 0 0.4em #555 inset;
    padding: 0.75em;
    transform: translate(0.5em ,0.5em) scale(0.5);
    transform-origin: 100% 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  .search-bar input:focus,
  .search-bar input:valid{
    background: #98BDFF;
    border-radius: 0.357em 0 0 0.357em ;
    box-shadow: 0 0 0 0.1em #f1f1f1 inset;
    transform: scale(1);
  }
  .search-button{
  background: #555;
  border-radius: 0 0.75em 0.75em 0 / 0 1.5em 1.5em 0 ;
  padding: 0.75em;
  transform: translate(0.25em, 0.25em) rotate(45deg) scale(0.25,0.125);
  transform-origin: 0 50%;
}
.search-button::before,
.search-button::after{
  content: "";
  display: block;
  opacity: 0;
  position: absolute;
}
.search-button::before{
  border-radius: 50%;
  box-shadow: 0 0 0 0.2em #f1f1f1 inset;
  top: 0.75em;
  left: 0.75;
  width: 1.2em;
  height: 1.2em;
}
.search-button::after{
background: #f1f1f1;
border-radius: 0 0.23em 0.253m 0 ;
top: 51%;
left: 51%;
width: 0.75em;
height: 0.25em;
transform: translate(0.2em,0) rotate(45deg);
transform-origin: 0 50%;
}
.search-button span{
display: inline-block;
overflow: hidden;
width: 1px ;
}



input[type=search]::-webkit-search-cancel-button{
  --webkit--appearance: none;
  display: inline-block;
  width: 20px;
  height: 20px; 
  margin-left: 10px;
  background: linear-gradient(45deg, rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) 43%, #CBBDDB 45%, #CBBDDB 55%, rgba(0,
  0) 57%, rgba(0, 0, 0, 0) 100%), Linear-gradient (135deg, transparent 0%, transparent 43%, #CBBDDB 45%, #CBBDDB 55%, transparent 57%, transparent 100%);
}



  input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #4B49AC;
    background-color: #98BDFF;
  }
  
  input[type=file] {
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;

    
  }
  input::file-selector-button{
    font-weight: bold;
    color: black;
    background:url('img/file.png') no-repeat;
    background-size: 30px;
    background-position:80% center;
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #4B49AC;
  }

  label{

    text-align: left;
    margin-top: 5%;
  }

  input[type=text]:focus {

    background-color: #98BDFF;
  }
  #display-img{
    width: 100%;
    height: 211px;
    border: 1px solid black;
    background-position: center;
    background-size: cover;

  }
  textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #4B49AC;
    border-radius: 4px;
    background-color: #98BDFF;
    resize: none;
    font-family: 'Times New Roman', Times, serif;
  }
  textarea:focus{
    background-color: #98BDFF;
  }
  input[type=radio]#Female {
    accent-color: #d357fe;
}

input[type=radio]#Male {
    accent-color: blue;
}

input[type=radio]#Kids {
    accent-color: green;
}
input[type=radio]{
  margin-bottom: 3.5% ; 
}
.select-selected {
  background-color: #ccc;
  width: 30%;
}
input[type=submit]{
  margin-top: 15px ;
  margin-bottom: 15px;
  float: right;
  padding: 12px;
  width: 200px;
border-radius: 5px;
background-color: #98BDFF;
}
input[type=submit]:hover{
  background-color: #4B49AC;
  color: #98BDFF;
  transition-duration: 1.5s;
}

.column {
  float: right;
  width: 43.5%;
  padding:  10px;



}
.row {margin: 0 -5px;


}
.row ::after{
  content: "";
  display: table;
  clear: both;
}
.card {
  box-shadow:0 14px 18px 0 #4B49AC;  /* this adds the "card" effect */
  padding: 16px;
  text-align: center;
  border-radius: 10px;
 background-color: #98BDFF;


}
.search_categories{
  font-size: 13px;
  padding: 10px 8px 10px 14px;
  background: #98BDFF;
  border: 1px solid #4B49AC;
  border-radius: 6px;
  overflow: hidden;
  position: relative;
}

.search_categories .select{
  width: 120%;
  background:url('img/down-arrow.png') no-repeat;
  background-size: 40px;
  background-position:80% center;
}
.search_categories .select select{
  background: transparent;
  line-height: 1;
  border: 0;
  padding: 0;
  border-radius: 0;
  width: 120%;
  position: relative;
  z-index: 10;
  font-size: 1em;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}


.chart {
  background: conic-gradient(#f15854 4%, #4d4d4d 0 8%, #5da5da 0 17%, #decf3f 0 48%, #b276b2 0 54%, #faa43a 0);
  border-radius: 50%;
  width: 50%;
  height: 0;
  padding-top: 50%;
  float: left;
  padding-right: 20px;
}
table {
  border-collapse: separate;
  border-spacing: 0;
}
th,
td {
  padding: 10px 15px;
}
thead {
  background: #4B49AC;
  color: #fff;
}
th {
  font-weight: bold;
}

td {
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}
td:first-child {
  border-left: 1px solid black;
}

